<app-header></app-header>

<main>
    <div class="app-login">
        <h1>Increva-se agora </h1> 
        <h2>na Newslatter</h2>
        <p>Elit ut do amet eu in officia eiusmod.Enim velit commodo cillum qui pariatur consectetur duis.Mollit nulla enim Lorem nisi amet nulla elit reprehenderit consectetur minim laboris Lorem excepteur mollit.Mollit nostrud aliquip excepteur veniam nisi nostrud commodo duis amet.</p>

        <input type="search" name="input1" id="" placeholder="Nome">
        <input type="search" name="input2" id="" placeholder="E-mail">
        <button class="button-footer" type="button">Enviar </button>
        <article> 
            <img class="imagem" src="../../../assets/img/77d0a7c454e658833800528e748edbe9.png" alt="Mulher roxa">
        </article>
    </div>
</main>